{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title> Taskly </title>
    </head>

    <div class="container bg-white shadow-md p-5 form-layout">
    <h2> Register </h2>
        <form method="POST" autocomplete="off">
        
            {% csrf_token %}

            {{form.as_p}}
            <p>Already Registered </p> <a class="btn btn-outline-primary" type="button" href="{%url 'my-login' %}">Login</a>
            <input class="btn btn-outline-primary" type="submit" value="Register"/>
        </form>
</div>
</html>