{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title> delete task </title>
    </head>

    
    <div class="container bg-white shadow-md p-5">
    <h2>delete a task</h2>
        <form method="POST" autocomplete="off">
        
            {% csrf_token %}
            <p> do you want delete !</p>
            <br>
            <a class="btn btn-outline-primary" type="button" href = "{% url 'view-tasks' %}">Return</a>
            <input class="btn btn-outline-primary" type="submit" value="delete"/>
        </form>
</div>
</html>