{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title> Taskly </title>
    </head>

   

    <h2>My Tasks</h2>
    <div class="container bg-white shadow-md p-5 form-layout">
        <table>
            <tr>
                <td>Task ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Status</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
            {% for t in task %}
            <tr>
            <td>{{ t.task_id }}</td>
            <td>{{ t.title }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.status }}</td>
            <td><a class="btn btn-primary navbar-btn" type="button" href = "{% url 'update-task' t.id %}">update</a></td>
            <td><a class="btn btn-primary navbar-btn" type="button" href = "{% url 'delete-task' t.id %}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</html>